<div class="container p-5">
    <div class="row">
        <div class="col-md-4">
            <img [src]="imgSrc+ Persondetails?.profile_path" class="w-100" alt="">

        </div>
        <div class="col-md-8">
            <h1>{{Persondetails?.name}}</h1>
            <p class="text-warning h4 mt-3">popularity: <span class="text-info">{{Persondetails?.popularity}}</span></p>
            <p class="mt-5">The actor <strong>{{Persondetails?.name}}</strong> performs "in the flesh" in the traditional medium of the
                theatre or in modern media such as film, radio, and television. The actor's interpretation of a role—the
                art of acting—pertains to the role played, whether based on a real person or fictional character. This
                can also be considered an "actor's role," which was called this due to scrolls being used in the
                theaters. Interpretation occurs even when the actor is "playing themselves", as in some forms of
                experimental performance art.
                Formerly, in ancient Greece and the medieval world, and in England at the time of William Shakespeare,
                only men could become actors, and women's roles were generally played by men or boys
            </p>
        </div>
    </div>
</div>