
.content{
    display: flex !important;
     justify-content:center !important;
     margin-left: 10rem;
}
.plog{
    margin-left: 10rem;
}
a{

    cursor: pointer;
    color: white;
}
// button{
//     margin-left: 12rem;
// }
// input,label,.errors{
//     margin-left: 8rem;
// }
